html {
    height: 100%;
    font-family: system-ui, sans-serif;
    background-color: #fff;
    color: #fff;
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
